.contact-body {
    padding-right: 8vw;
    padding-left: 8vw;
    margin: 36px;
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

/* font-family: Cairo;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 45px;
margin-top: 36px;

color: #FFFFFF; */