.Content {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:3;
}

.MiniChips {
}

.Title {
    font-family: Cairo;
    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    margin-top: 5px;
    padding-bottom: 12px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.TagLine {
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    
    color: #2F303A;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Play, .Info {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: white;

    cursor: pointer;
    background-color: var(--emphasis);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: transparent;
    border-radius: 10px;
    padding: 12px 64px;
}

.ButtonContainer {
    position:relative;
    align-self: center;

}

.Play:hover, .Info:hover {
    opacity: 0.8;
}

.LeftChipLight {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 35vw;
}

.LeftChipDark {
    position: absolute;
    left: 155px;
    top: 70%;
    z-index: 1;
    width: 35vw;
}

.BigChip {
    position: absolute;
    width: 20%;
    height: 95%;
    left: 78%;
    top: 15%;
    width: 27vw;
    transform: rotate(15deg);
}

.PageTwo {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 100%;

    background: #2F303A;
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    display: flex;
    align-items: center;
    z-index: 3;
}

.PageTwoContainer {
    padding-top: 2vw;
    padding-bottom: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Welcome, .Season {
    flex: 0 0 40%;
    margin: 0px 4vw;
}

.Welcome h1 {
    font-family: Cairo;
    font-style: normal;
    font-weight: 900;
    font-size: 5em;
    /* line-height: 135px; */

    color: #FFFFFF;

    text-shadow: 0px 4px 4px #000000;
}

.Welcome p {
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    margin-top: 36px;

    color: #FFFFFF;
}

.Info {
    flex: 0 0 100%;
    margin-top: 3vw;
}

.Season {
    text-align: center;
}

.Season p {
    font-family: Cairo;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin: 5px auto;

    color: #FFFFFF;
}

/*  adjustment for medium screens*/
@media only screen and (max-width: 1000px){
    .BigChip {
        top: 50%;
    }
    .LeftChipLight {
        top: 70%;
    }
    .LeftChipDark {
        top: 80%;
    }
}

/* hiding chips for smaller screens */
@media only screen and (max-width: 560px){
    .LeftChipLight {
        display: none;
    }
    .LeftChipDark {
        display: none;
    }
    .BigChip {
        display: none;
    }
    .Season {
        display:none;
    }
}

/* hiding chips for phones */
@media only screen and (max-device-width: 500px){
    .LeftChipLight {
        display: none;
    }
    .LeftChipDark {
        display: none;
    }
    .BigChip {
        display: none;
    }
    .PageTwo {
        top:70%;
    }
    .Welcome h1 {
        padding-top: 2vw;
    }
}